
.advantages__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	margin:0;
}
@media screen and (max-wdith: 900px) {
	.advantages__title {
		margin: 0;
	}
}
.advantages__list {
  font-family: "Inter", Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.advantages__item {
	padding: 20px 0 20px 5px;
}
.advantages__item:nth-child(odd) {
	background-color: #f0f1f3;
}
@media screen and (max-wdith: 900px) {
  .advantages__item {
		font-size: calc(14px + 10.2 * ((100vw - 320px) / 768));
		line-height: 1.21;
	}
}

.advantages__span {
	font-weight: 700;
}
.advantages {
  margin-top: 150px;
}


