.attributes {
	margin: 149px 0 0;
	display: flex;
	flex-direction: column;
}

.attributes__title {
	margin: 0;
}

.attributes__list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.attributes__list li {

	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.attributes__list-title {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	margin: 0;
	width: 257px;
	font-size: 14px;
	line-height: 40px;
}

.attributes__list-subtitle {
	font-family: 'Inter', Arial, Helvetica, sans-serif;

	margin: 0;
	font-size: 14px;
}

.attributes__button {
	margin: 79px auto 0;
}

@media screen and (max-width: 900px) {
	.attributes__list {
		margin: 0 0 10px 0;
		display: flex;
		flex-direction: column;
	}
	.attributes__list li {
		padding-bottom: 5px;
		flex-direction: column;
		align-items: start;
	}

	.attributes__button {
		margin: 61px auto 0;
	}
}
