.footer__product_item li {
	cursor: pointer;
}

.footer {
	box-sizing: border-box;
	background-color: #2f6fb6;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 48px;
	padding-bottom: 40px;
	padding-left:20px;
	padding-right: 20px;
	max-width: 1280px;
	margin: 0 auto;
	border-top-right-radius: 15px;;
	border-top-left-radius: 15px;;
	box-shadow:0 0 20px rgba(0,0,0,.2);

}

.footer__product {
	font-size: 14px;
	line-height: 17px;
	min-height: 250px;
}

.footer__title {
	margin: 0;
	line-height: 29px;
	color: white;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
}

.footer__product-list {
	max-width: 100px;
	list-style: none;
	color: white;
	padding: 0;
	margin: 38px 0 0;
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	text-align: center;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	gap: 35px;
	max-width: 700px;
}

.footer__list {
	color: white;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	-moz-column-gap: 80px;
	column-gap: 80px;
	row-gap: 35px;
	justify-content: center;
}

.footer__contact {
	text-align: center;
	width: 250px;
	min-width: 100px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer__contact-text {
	margin: 0;
	font-size: 14px;
	line-height: 21px;
}

.footer__contact-number {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
}

.footer__social {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 150px;
}

.footer__social-wrapper {
	margin-top: 32px;
	display: flex;
	gap: 32px;
}

@media screen and (max-width: 900px) {
	.footer {
		gap: 38px;
		text-align: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.footer__product {
		display: flex;	
		flex-direction: column;
		
	}

	.footer__product-list {
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 200px;
		align-self: start;

	}

	.footer__product-list li {
		width: 70px;
		padding: 20px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.footer__list {
		align-items: center;
	}
}
