

@keyframes left {
  0% {
    left: -95%;
  }

  100% {
    left: 0;
  }
}

@keyframes right {
  0% {
    left: 0;
  }

  100% {
    left: -95%;
  }
}



.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  overflow: hidden;
  min-height: 90px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f6fb6;
  z-index: 3;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.header__list li {
  list-style: none;
  display: flex;
  gap: 45px;
  position: relative;
  z-index: 3;
  flex-wrap: wrap;
}

.header__list li p {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.header__link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header__list {
  margin: 0;
  padding:0 0 0 20px;

}

.header__contacts {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

.header__text {
  margin: 0;
  text-align: right;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header__number {
  margin: 0;
  font-weight: 700;
  text-align: right;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.header__burger {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__contacts {
    font-size: 14px;
    line-height: 1.21;
    position: relative;
    z-index: 3;
    text-align: right;
  }

  .header__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 40px;
    z-index: 5;
    cursor: pointer;
    transition: transform 0.1s linear 0s;
  }
  .header__menu {
    position: fixed;
    z-index: 4;
    top: 0;
    gap:10px;
    left: 0;
    width: 200px;
    height:150px;
    background-color: #2f6fb6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.12);
    padding: 75px 0 0 0;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    animation: right 0.2s linear 0s;
    display: none;
  }
  .header__menu[style="display: block;"] {
    top: 0;
    animation: left 0.1s linear 0s;
  }
  

  .header__list li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
    z-index: 3;
    flex-wrap: wrap;
  }


}