.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}